/* =========================================================
   PAGE SYSTEM
========================================================= */

.page {
  display: none;
  width: 100%;
  min-height: 100vh;

  position: relative;

  z-index: 2;
}

.page.active-page {
  display: flex;
  flex-direction: column;
  animation:
  fade 0.5s cubic-bezier(0.22,1,0.36,1);
}