@keyframes fade {

  from {

    opacity:0;

    transform:
      translateY(20px)
      scale(0.98);

  }

  to {

    opacity:1;

    transform:
      translateY(0)
      scale(1);

  }

}

@keyframes glowFloat {

  0%{

    transform:
      translateY(0px)
      scale(1);

  }

  50%{

    transform:
      translateY(-20px)
      scale(1.08);

  }

  100%{

    transform:
      translateY(0px)
      scale(1);

  }

}

@keyframes spin{

  from{

    transform:rotate(0deg);

  }

  to{

    transform:rotate(360deg);

  }

}

@keyframes pulse{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.08);
  }

  100%{
    transform:scale(1);
  }

}

@keyframes fadeStartup{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

@keyframes fadeUp{

  from{

    opacity:0;

    transform:
      translateY(15px);

  }

  to{

    opacity:1;

    transform:
      translateY(0);

  }

}

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

@keyframes pulseLogo{

  0%{
    transform:scale(1);
    filter:drop-shadow(0 0 10px #FD9C00);
  }

  50%{
    transform:scale(1.08);
    filter:drop-shadow(0 0 30px #FA6623);
  }

  100%{
    transform:scale(1);
    filter:drop-shadow(0 0 10px #FD9C00);
  }

}